# Template .env.example file for the Consul deploy activity. Copy this file as .env and fill in the values as needed.
# CONSUL
CONSUL_GOSSIP_KEY=
CONSUL_HTTP_TOKEN=

CONSUL_HTTP_PORT=8500
CONSUL_DNS_PORT=8600

# VSFTPD
FTP_USER=ftpuser
FTP_PASS=ftpNube*

FTP_PORT=21

FTP_PASV_MIN=21100
FTP_PASV_MAX=21110

PASV_ADDRESS=192.168.121.6 # IP para acceder en LAN

# MYSQL
MYSQL_HOST=db
MYSQL_USER=root
MYSQL_ROOT_PASSWORD=mysqlNube*
MYSQL_PASSWORD=mysqlNube*
MYSQL_DATABASE=app_db

# Ports
MICRO_USERS_PORT=5002
MICRO_PRODUCTS_PORT=5003
FRONTEND_PORT=5001
FASTAPI_PORT=8000

# Servicios a registrar en Consul (space‑separated tuples)
TO_REGISTER="ftp-server-1:ftp:vsftpd:${FTP_PORT} micro-users-1:microservices:micro_users:${MICRO_USERS_PORT} micro-products-1:microservices:micro_products:${MICRO_PRODUCTS_PORT} frontend-1:webapp:rest_frontend:${FRONTEND_PORT} fastapi-1:api:fastapi:${FASTAPI_PORT}"

