.vagrant/
ssh-keys/infra_key
ssh-keys/infra_key.pub
terraform/kvm-libvirt/.terraform/
terraform/kvm-libvirt/.terraform.lock.hcl
terraform/kvm-libvirt/tfplan
terraform/virtualbox/.terraform
terraform/virtualbox/.terraform.lock.hcl
terraform/virtualbox/tfplan
terraform/virtualbox/jammy-server-cloudimg-amd64.ova
terraform/virtualbox/terraform.tfstate